/* body {
    margin: 5em;
    background: hsl(6, 93%, 71%); */
    /* text-align: center; */
    /* background-color: #7E98B5; */
    /* color: #1F2A37; */
    /* font-family: 'Times New Roman', Times, serif; */
/* } */

/* h1 {
    color: #1F2A37;
    font-size: 2.6em;
    border-bottom: 5px solid #1F2A37;
} */

nav,
aside ul {
    /* background-color: #D3B299; */
    /* border: 5px solid #1F2A37; */
    list-style-type: none;
    overflow: hidden;
    font-size: 1.3em;
    /* width: 100%; */
    /* margin: 1em; */
    display: flex;
}

/* nav ul {
    width: 90%;
    float: left;
} */

ul {
    width: 50%;
    display: flex;
}

li {
    float: left;
    display: block;
    padding: 9px;
    text-decoration: none;
    margin: auto;
}

form {
    float: right;
    margin: 0.6%;
}

main {
    margin: 2em;
    font-size: 25px;
}

section {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    margin-left: 15px;
    /* width: 30%; */
}

aside {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
}


footer {
    margin: auto;
    padding: 3em;
}